.heading 
{
font-size: 25px;
width : 100%;
box-shadow : 5px 5px 5px grey;
margin : 0px;
}

.note
{
    color : black;
    font-size: 17px;
}
.copy_right_footer 
{
    position : fixed;
    bottom : 0;
    width : 100%;
    line-height: 4;
    text-align: center;
    color:black;
    background-color: darkgray;
    
}